:root {
  --banner-text: #144a74;
  --redirect-primary-color: var(--theme-color) !important;
  --redirect-primary-hover-color: var(--theme-color-dark) !important;
}

html[data-theme="dark"] {
  --banner-text: #43c6ff;
}

.page-cover {
  width: calc(100%);
  max-height: 25vh;
}

.vp-sidebar-links {
  font-family: var(--font-family-heading);
}