:root {
  --banner-text: var(--theme-color);
  --redirect-primary-color: var(--theme-color) !important;
  --redirect-primary-hover-color: var(--theme-color-dark) !important;
}

html[data-theme="dark"] {
  --banner-text: var(--theme-color-dark);
}

.page-cover {
  width: calc(100%);
  max-height: 25vh;
}

.vp-sidebar-links {
  font-family: var(--font-family-heading);
}

.hint-container{
  border-radius: 5px !important;
  border-inline-start-width: 10px !important;
}